<h4>・プライバシーポリシー</h4>
-チケッター-（以下、「当サービス」）を運営する『チケッター（以下、「当社」）』は、お客様の個人情報の保護を重要な業務の一部と認識し、適切な管理のため最大限の努力をいたします。当社は、一層のお客様との信頼関係を築くために以下の方針を公開します。
<br><br>

<p>第１条　個人情報について</p>
当サービスではログインに必要な「Twitterのログイン情報（authトークン）」、質問を受け取った時に通知する「メールアドレス」などの情報を保存しています。これらはサイト利用の範囲内で使われます。
<br><br>

<p>第２条　個人情報の取得・収集</p>
当社は、業務の遂行にあたり、個人情報を取得することがあり、取得を行う際は、適正かつ公正な手段により行い、利用目的をあらかじめ公表するか、取得後速やかにご本人に通知または公表いたします。
<br><br>

<p>第３条　個人情報の利用目的</p>
当社は、取得した個人情報を下記の目的の範囲内で適切に利用いたします。<br>

・サービス全般の提供のため<br>

・システムの維持、不具合対応のため<br>

・法令等により提供が必要な場合に、適切な第三者への情報開示責任を遂行するため<br>
<br><br>

<p>第４条　個人情報の提供</p>
当社は、お客様からの事前の同意がある場合、及び法令等により提供が認められる場合を除いて、お客様から取得した個人情報を第三者に提供することはいたしません。
<br><br>

<p>第５条　個人情報の開示・訂正・利用停止</p>
当社は個人情報の管理責任者及び、個人情報の問い合わせ・開示・訂正・利用停止の請求先、個人情報の取り扱いに関する苦情の申出先を下記の通り定め、個人情報の開示・訂正・利用停止の請求はお客様本人またはその代理人が書面（電子メールを含む）にて行うものとします。<br>


個人情報の開示・訂正・利用停止の請求先、個人情報の取り扱いに関する苦情の申出先：tktter.com(at)gmai.com<br>

お客様またはその代理人の方からの個人情報の開示・訂正・利用停止の請求があった場合には、当社は、当該請求がお客様ご本人の請求であることをしかるべき方法で確認させて頂いた上で、法令の定める合理的な範囲で速やかに対応いたします。
<br><br>

<p>第６条　プライバシーポリシーの改定</p>
当社は個人情報保護上の必要に応じて、本方針を改定する場合があります。改定が行われた時点で、新しい方針が適用されるものといたします。

